@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@keyframes fadenIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadenOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
